table,th,td{
padding: 10px;
border: 1px solid black;
border-collapse: collapse;
}

.evenClass{
     color: red;
    // font-size: 28px;
    //background-color: red;
}
.oddClass{
    //font-size: 28px;
     color: green;
    //background-color: green;
}

.blueClass{
    color:blue;
}