

<p>{{title | lowercase}}</p>

<p>{{title | uppercase}}</p>

<p>{{title | titlecase}}</p>

<p>{{title | slice:3:5}}</p>

<p>{{title | slice:3:-1}}</p>


<p>{{months | slice:2:-2}}</p>


<p>{{employee | json}}</p>

<p>{{numberValue | number:'1.1-2'}}</p>

<p>{{numberValue | percent}}</p>

<p>{{numberValue | currency:"INR":symbol:'1.0-0'}}</p>


<p>{{today | date:'short'}}</p>
<p>{{today | date:'medium'}}</p>
<p>{{today | date:'long'}}</p>
<p>{{today | date:'full'}}</p>
<p>{{today | date:'shortDate' | lowercase}}</p>
<p>{{today | date:'mediumDate'}}</p>
<p>{{today | date:'fullDate'}}</p>
<p>{{today | date:'longDate'}}</p>
<p>{{today | date:'shortTime'}}</p>
<p>{{today | date:'mediumTime'}}</p>
<p>{{today | date:'longTime'}}</p>
<p>{{today | date:'fullTime'}}</p>



































